@using Shop.Features.Product
@model Shop.Features.Product.ManageProducts.Model

@{
    ViewBag.Title = "Product Admin";
    Layout = "_Layout";
}


<h2>Manage Products</h2>

@Html.ActionLink("Add Product", "ProductCreate", "Product")

@foreach (var product in Model.Products)
{
    <div>
        <h3>@product.ProductName - @string.Format("{0:C}", product.Price)</h3>
        <div>@product.ProductShortDescription</div>
        <img src="@product.CoverImageUrl" alt="@product.ProductName image" />
        @Html.ActionLink("View Product", "View", "Products", new { productReference = product.ProductReference })

    </div>
}

