@using Shop.Features.Product
@model ManageProducts.Model

@{
    ViewBag.Title = "Product Admin";
    Layout = "_Layout";
}


<h2>Manage Products</h2>

@Html.ActionLink("Add Product", "ProductCreate", "Product")

@foreach (var product in Model.Products)
{
    <div>
        <h3>@product.ProductName - @string.Format("{0:C}", product.Price)</h3>
        <div>@product.ProductShortDescription</div>
        @Html.ActionLink("Delete Product", "ProductDelete", "Product", new { productReference = product.ProductReference })

    </div>
}

